<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.NxIndustries.Sapphire" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        android:description="@string/permdesc_install_shortcut"
        android:label="@string/permlab_install_shortcut"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"
        android:description="@string/permdesc_uninstall_shortcut"
        android:label="@string/permlab_uninstall_shortcut"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.NxIndustries.Sapphire.permission.READ_SETTINGS"
        android:description="@string/permdesc_read_settings"
        android:label="@string/permlab_read_settings"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />
    <permission
        android:name="com.NxIndustries.Sapphire.permission.WRITE_SETTINGS"
        android:description="@string/permdesc_write_settings"
        android:label="@string/permlab_write_settings"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="signatureOrSystem" />
    <permission
        android:name="com.NxIndustries.Sapphire.permission.RECEIVE_LAUNCH_BROADCASTS"
        android:protectionLevel="signature" />
    <permission
        android:name="com.NxIndustries.Sapphire.permission.RECEIVE_FIRST_LOAD_BROADCAST"
        android:protectionLevel="signatureOrSystem" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- Allow Permissions from Launcher3 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />

    <!-- Allow Permissions from SapphireUI -->
    <uses-permission android:name="com.NxIndustries.Sapphire.permission.READ_SETTINGS" />
    <uses-permission android:name="com.NxIndustries.Sapphire.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.NxIndustries.Sapphire.permission.RECEIVE_LAUNCH_BROADCASTS" />
    <uses-permission android:name="com.NxIndustries.Sapphire.permission.RECEIVE_FIRST_LOAD_BROADCAST" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.permission.CALL_PHONE"  android:required="false"/>

    <application
        android:name="com.NxIndustries.Sapphire.LauncherApplication"
        android:backupAgent="com.NxIndustries.Sapphire.LauncherBackupAgentHelper"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_two"
        android:screenOrientation="user"
        android:label="@string/application_name"
        android:restoreAnyVersion="true"
        android:supportsRtl="true"
        tools:replace="android:label">

        <activity
            android:icon="@mipmap/ic_launcher_two"
            android:label="@string/application_name"
            android:name="com.NxIndustries.Sapphire.Launcher"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:stateNotNeeded="true"
            android:theme="@style/Theme"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.NxIndustries.Sapphire.LauncherExtension"
            android:clearTaskOnLaunch="true"
            android:enabled="false"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:stateNotNeeded="true"
            android:theme="@style/Theme"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.NxIndustries.Sapphire.ToggleWeightWatcher"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/toggle_weight_watcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.NxIndustries.Sapphire.WallpaperCropActivity"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@mipmap/ic_launcher_wallpaper"
            android:label="Crop Wallpaper"
            android:process=":wallpaper_chooser"
            android:theme="@style/Theme.WallpaperCropper" >
            <intent-filter>
                <action android:name="android.service.wallpaper.CROP_AND_SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <!-- Debugging tools -->
        <activity
            android:name="com.NxIndustries.Sapphire.MemoryDumpActivity"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/debug_memory_activity"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".settings.HiddenAppsActivity"
            android:label="@string/hidden_apps_title"
            android:exported="false"
            android:theme="@style/Settings.Light">
            <intent-filter>
                <action android:name=".settings.HiddenAppsActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.NxIndustries.Sapphire.util.FakeLauncherActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Launcher shortcuts -->
        <activity android:name=".CreateShortcut"
            android:label="Add Workspace Action"
            android:icon="@mipmap/ic_launcher"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar"
            android:excludeFromRecents="true"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Material Settings -->

        <activity android:name=".material.BottomInterface"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.DockActivity"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.ButtonActivity"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.GestureButtonActivity"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.DrawerActivity"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.EhsActivity"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.FolderActivity"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.GeneralActivity"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.HomescreenActivity"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.SearchActivity"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".material.AboutActivity"
            android:theme="@style/PostDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".sdrawer.SearchActivity"
            android:theme="@style/EmptyActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="user"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.NxIndustries.Sapphire.google.GooglePlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".gesture.GestureQuickLaunch"
            android:theme="@style/LauncherTheme"
            android:label="Gesture Notification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.NxIndustries.Sapphire.google.GoogleShortcut"
            android:theme="@android:style/Theme.DeviceDefault">
        </activity>

        <activity
            android:name="com.NxIndustries.Sapphire.shortcutmaker.ShortcutMakerActivity"
            android:label="Shortcut Maker"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.NxIndustries.Sapphire.WallpaperChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.NxIndustries.Sapphire.InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.NxIndustries.Sapphire.UninstallShortcutReceiver"
            android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT" >
            <intent-filter>
                <action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.NxIndustries.Sapphire.AppWidgetsRestoredReceiver" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED" />
            </intent-filter>
        </receiver>

        <service android:name="com.NxIndustries.Sapphire.MemoryTracker"
            android:enabled="@bool/debug_memory_enabled"
            >
        </service>

        <receiver
            android:name="com.NxIndustries.Sapphire.UserInitializeReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.USER_INITIALIZE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.NxIndustries.Sapphire.PackageChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" >
                </data>
            </intent-filter>
        </receiver>
        <receiver android:name="com.NxIndustries.Sapphire.StartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.NxIndustries.Sapphire.NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="com.NxIndustries.Sapphire.LauncherProvider"
            android:authorities="com.NxIndustries.Sapphire.settings"
            android:exported="true"
            android:readPermission="com.NxIndustries.Sapphire.permission.READ_SETTINGS"
            android:writePermission="com.NxIndustries.Sapphire.permission.WRITE_SETTINGS" />

        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />

        <receiver android:name=".widget.DigitalClock"
            android:label="Digital Clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/clock_widget" />
        </receiver>

        <receiver android:name=".widget.EmptyWidget"
            android:label="Active Space">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/empty_widget" />
        </receiver>

        <activity android:launchMode="singleTask"
            android:name="com.NxIndustries.Sapphire.gesture.GestureLauncher"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.NxIndustries.Sapphire.welcome.Intro"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.NxIndustries.Sapphire.gesture.GestureMainActivity"
            android:theme="@style/LauncherTheme"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".gesture.SketchPreferences"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".material.Login"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".development.Body"
            android:theme="@style/SettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.NxIndustries.Sapphire.gesture.AddGesture"
            android:theme="@style/SettingsBase"
            android:permission="android.permission.WRITE_EXTERNAL_STORAGE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.NxIndustries.Sapphire.gesture.SelectAction"
            android:theme="@android:style/Theme.Material.Light.Dialog"
            android:configChanges="keyboard|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>


        <activity android:name="com.NxIndustries.Sapphire.preferences.Features_Review"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>